doctype 5
html(lang='en')
  head
    meta(http-equiv="Content-Type", content="text/html; charset=utf-8")
    title Piggybacking common web beacons to track users maliciously
    style
      @import url(http://fonts.googleapis.com/css?family=Droid+Serif:400,700,400italic);

      body {
        font-family: 'Droid Serif', serif;
        margin-bottom: 50px;
        background-color: #f8f8f0;
        color: #666;
      }

      h1, h2, h3 {
        color: #404;
      }

      .content {
        max-width: 600px;
        margin-left: 50px;
      }
  body
    div(class="content")
      != content

