doctype 5
html(lang='en')
  head
    title Piggybacking common web beacons to track users maliciously
    style
      @import url(http://fonts.googleapis.com/css?family=Droid+Serif:400,700,400italic);

      body {
        font-family: 'Droid Serif', serif;
        margin-bottom: 50px;
      }

      .content {
        max-width: 600px;
        margin-left: 50px;
      }
  body
    div(class="content")
      != content

